:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #3e1f92;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #fa949d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
}

.contactItem {
  width: 200px;
  background-color: #3e1f92;
  display: flex;
}

.contactItem:hover {
  background-color: #fa949d;
  cursor: pointer;
}

.contactForm {
  background-color: #ffffff;
  color: #474765;
  width: 600px;
  border-radius: 10px;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fa949d;
  cursor: pointer;
}

.serviceButton {
  background-color: #f9f9fb;
  color: #474765;
}

.serviceButton:hover {
  background-color: #ffffff;
  border: 1px solid #fa949d;
}